html {
  background-image: url(b.gif);
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  font-size: 100px;
  font-family: 'Lucida Fax', serif;
  font-weight: 1000;
  text-align: center;
  color: white;
}

body {
  text-align: right;
  padding-right: 80px;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 30px;
}

a {
  color: darkorange;
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
  font-style: italic;
  color: red;
}
