* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

.sidebar {
  background-color: lightblue;
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  padding: 1rem;
  transition: right .5s;
}

.active {
  right: 0;
}

.marquee {
  width: 100%; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  border:1px solid #ccc;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 3rem;
}

.draggable {
  background: coral;
  width: 60px;
  height: 60px;
  cursor: grab;
}

.move1 {
  position: fixed;
  top: 300px;
  left: 400px;
  transition: transform .5s;
}

.move1 hover {
  transform: scale(2);
}
