* {
  box-sizing: border-box;
}

body {
  margin:0;
}

img {
    max-width: 100%;
}

.container {
  display:flex;
  flex-direction: column;
  background: #ffcdb2;
  height:100vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20%;
  padding: 10px 10px 0px 10px
}

.row-item {
  background: #ffb4a2;
  width: 30%;
  height: 100%
}

.row2 {
  padding: 10px;
  height: 80%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5989b;
  width: 50%;
  height: 100%;
}

.center-item {
  background: #b5838d;
  width: 20%;
  height: 20%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding-left: 10px;
}

.col-item {
  background: #6d6875;
  height: 24%;
}
